{% extends 'core/base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col">
            <h1>Hello World</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mx-auto col-10">
            <form id="tweet-create-form" class="form" method="post" action="tweet-create/">
            {% csrf_token %}
                <div class="d-none alert alert-danger" id="tweet-cerate-from-error"></div>
                <input type="hidden" value="/" name="next" />
                <textarea required="required" class="form-control" name="content" placeholder="Your tweet..."></textarea>
                <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
        </div>
    </div>
    
    <div class="row" id="tweets">
        Loading...
    </div>
    <script>
    const tweetsContainerElement = document.getElementById("tweets")
    function handleCreateFormError(msg, display) {
        let myErrorDiv = document.getElementById("tweet-cerate-from-error")
        if (display === true) {
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }


    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            if (xhr.status === 201) {
                handleCreateFormError("", false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if (contentError) {
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg) {
                        handleCreateFormError(contentErrorMsg, true)
                    } else {
                        alert("An error occurred.")

                    }
                } else {
                    alert("An error occurred.")
                }
                console.log(contentErrorMsg)

            } else if (xhr.status === 500) {
                alert("Server error")
            } else if (xhr.status === 401) {
                alert("You Must Login")
                window.location.href = "/login"
            }
        }
        xhr.onerror = function() {
            alert("An error is occurred.")
        }
        xhr.send(myFormData)
    }

    const tweetCreteForm = document.getElementById("tweet-create-form")

    tweetCreteForm.addEventListener('submit', handleTweetCreateFormDidSubmit)

    function loadTweets(tweetsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const listedItems = xhr.response
            let finalTweetStr = ""
            let i;
            for(i=0; i<listedItems.length; i++) {
                let tweetObj = listedItems[i]
                let currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
    }

    loadTweets(tweetsContainerElement)


    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }


    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
        tweet.id + "," + tweet.likes +")>" + tweet.likes + " Like</button>"
    }

    function formatTweetElement(tweet) {
        let formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id
            + "'><p>" + tweet.content +
            "</p><div class='btn-group'>" + likeBtn(tweet) +
            "</div></div>"

        return formattedTweet
    }

    </script>
{% endblock content %}